[Model]
comparison_kwargs={'weight': 100}
rounding_kwargs={'weight': 100}
control_kwargs={'weight': 100}

[Optimizer]
method='JaxDeepReactivePolicy'
method_kwargs={'topology': [128, 64   ]}      # hidden layers
optimizer_kwargs={'learning_rate': 0.00001}
pgpe=None             # disable PGPE (gradient-free); use differentiable dynamics with backprop

[Training]
key=42
train_seconds=200 # time to train
#epochs=20 # how mach epochs the train do
print_summary=False